doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="css/chat.css")
    body 
        ul#messages
        form(action="" id="form") 
            input#input(type="text", name="", autocomplete="off")
            button Send
        script(src="https://cdn.socket.io/4.5.4/socket.io.min.js") 
        script.
            var socket = io()
            var form = document.getElementById('form');
            var input = document.getElementById('input');

            form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (input.value) {
                    socket.emit('chat message', input.value);
                    input.value = '';
                }
            });

            socket.on('chat message', function(msg) {
                console.log('New message:', msg)
            })

            socket.on('newMessage', function(msg) {
                console.log('New message:', msg)
            })