extend ./../layout/main.pug

block style
    link(rel="stylesheet", href="css/form.css")

block content
    h1 Forgot password
    .form-wrapper
        form(action="/reset-password", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)

            label(for='email') Email
            input(type="email", name="email" id="email")

            button(type='submit' value="reset") Reset password
