extend ./../layout/main.pug

block style
    link(rel="stylesheet", href="css/form.css")

block content
    h1 Create new password
    .form-wrapper
        form(action="/new-password-hi", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="token", value=passwordReset.token)
            input(type="hidden", name="id", value=passwordReset._id)

            label(for='password') New password
            input(type="password", name="password" id="password")

            label(for='confirm-password') Confirm New password
            input(type="password", name="confirm_password" id="confirm-password")

            button(type='submit' value="reset") Update password
