extend ./../layout/main.pug

block style
    link(rel="stylesheet", href="css/form.css")

block content
    h1 Create new account
    .form-wrapper
        form(action="/signup", method="post" class="form-data")
            input(type="hidden", name="_csrf", value=csrfToken)

            label(for='name') Name
            input(type="text", name="name" id="name")
            
            label(for='email') Email
            input(type="email", name="email" id="email")

            label(for='password') Password
            input(type="password", name="password" id="password")

            label(for='confirm-password') Confirm Password
            input(type="password", name="confirm_password" id="confirm-password")

            button(type='submit' value="Signup") Signup
