nav 
    ul
        li
            a(href="/" class=(path === '/' ? 'active' : '')) Shop
        li
            a(href="admin/add-product" class=(path === '/admin/add-product' ? 'active' : '')) Add product