nav 
    ul
        li
            a(href="/" class=(path === '/' ? 'active' : '')) Shop
        li
            a(href="/products" class=(path === '/products' ? 'active' : '')) Products
        li
            a(href="/cart" class=(path === '/cart' ? 'active' : '')) Cart
        li
            a(href="/orders" class=(path === '/orders' ? 'active' : '')) Orders
        li
            a(href="/admin/add-product" class=(path === '/admin/add-product' ? 'active' : '')) Add product
        li
            a(href="/admin/products" class=(path === '/admin/products' ? 'active' : '')) Admin product