a {
    text-decoration: none;
}
main, nav {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    background-color:rgb(227, 241, 102);
    padding: 1px 15px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    display: inline;
}

nav ul li.auth-item {
    float: right;
}

nav ul li.auth-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav ul li a {
    padding: 5px 10px;
}

nav ul li a.active {
    background-color: azure;
}

.error-message {
    color: #c72b2b;
}

.success-message {
    color: rgb(12, 161, 12);
}

.mt-20 {
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

.pagination a.page-link {
    border: 1px solid rgb(216, 214, 214);
    margin-right: 5px;
    padding: 5px 0;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.pagination a.page-link.active {
    background-color: rgb(207, 229, 232);
}
