.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 20px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button, a.button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid;
}

.card button:hover {
    opacity: 0.9;
}

.button-green {background-color: #4CAF50;}
.button-white {background-color: #fff; color: black !important;} /* Blue */
.button-blue {background-color: #008CBA;} /* Blue */
.button-red {background-color: #f44336;} /* Red */ 
.button-gray {background-color: #e7e7e7; color: black;} /* Gray */ 
.button-black {background-color: #555555;} /* Black */