doctype html
html
    head
        title Password reset
    body
        h1 Reset password
        p A password change has been requested for your account. If this was you, please use the link below to reset your password.
        a(href=resetPasswordLink) Reset password