extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 Shop
    .product-list
        if products && products.length
            .grid
                each product in products
                    include _product-card

        else
            h2 No product found.