extends ../layout/main.pug

block style 
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 All product
    .product-list
        if paginationData.items && paginationData.items.length
            .grid
                each product in paginationData.items
                    include _product-card
            include ../partials/pagination

        else
            h2 No product found.
